.heroenter{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 60px;
    left: 0;
    width: 50p;
    
    
}
@media screen and (min-width:200px) and (max-width:499px){
 
    .heroenter{
        top:90px
    }
}
