.header{
    width: 100%;
    border: solid red 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    left: 0;
    background-color: beige;
}
.infport{
    color:black;
    font-size: 120%;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.marvel{
    color: red;
    font-size: 200%;
}
.characters{
    display: flex;
   
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: center;
}


.marvel:hover{
    background-color:rgb(208, 21, 121);
    
}
